* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  color: #777777;
  line-height: 1.2;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 78px;
  margin: 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

.button {
  width: 170px;
  height: 60px;
  font-size: 15px;
  color: #fff;
  background-color: #18cfab;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 -5px 0 #fff;
  margin-top: 6px;
}
.button:hover {
  background-color: #00cbf6;
  transition: background-color 0.5s;
}
.button:active {
  box-shadow: none;
  transform: translateY(-4px);
}

.text-green {
  color: #18cfab;
  transition: color 0.5s;
}

.text-grey {
  color: #717171;
  transition: color 0.5s;
}

/*STYLE LINERS ON THE PAGE*/
body.lock {
  overflow: hidden;
}
body.lock .wrapper::after {
  opacity: 0.3;
  right: 0;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  background: #fff;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
.wrapper::after {
  position: absolute;
  top: 0;
  right: -100vw;
  content: "";
  width: 100%;
  height: 100%;
  background: #18cfab;
  opacity: 0;
  transition: opacity 0.3s;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem;
  max-width: 1160px;
  box-sizing: content-box;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #4e4e4e;
  position: relative;
  text-align: center;
  padding-bottom: 1.9375rem;
  margin-bottom: 4.3125rem;
}
.title::after, .title::before {
  position: absolute;
  content: "";
  width: 4.71875rem;
  height: 0.0625rem;
  background: #18cfab;
  transform: translateX(-50%);
}
.title::after {
  left: calc(50% - 0.375rem);
  bottom: 0.25rem;
}
.title::before {
  left: calc(50% + 0.375rem);
  bottom: 0;
}

.btn-link {
  display: inline-block;
  padding: 1.375rem 0 1.5rem;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 10.3125rem;
  border-radius: 0.25rem;
  background-color: #18cfab;
  box-shadow: 0rem -0.3125rem #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn-link:hover {
  transform: translateY(-3px);
  box-shadow: 0rem -0.15625rem #fff;
}
.btn-link:active {
  transform: translateY(-5px);
  box-shadow: 0rem 0rem #fff;
}