@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  color: #777777;
  line-height: 1.2;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 78px;
  margin: 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

.button {
  width: 170px;
  height: 60px;
  font-size: 15px;
  color: #fff;
  background-color: #18cfab;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 -5px 0 #fff;
  margin-top: 6px;
}
.button:hover {
  background-color: #00cbf6;
  transition: background-color 0.5s;
}
.button:active {
  box-shadow: none;
  transform: translateY(-4px);
}

.text-green {
  color: #18cfab;
  transition: color 0.5s;
}

.text-grey {
  color: #717171;
  transition: color 0.5s;
}

/*STYLE LINERS ON THE PAGE*/
body.lock {
  overflow: hidden;
}
body.lock .wrapper::after {
  opacity: 0.3;
  right: 0;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  background: #fff;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
.wrapper::after {
  position: absolute;
  top: 0;
  right: -100vw;
  content: "";
  width: 100%;
  height: 100%;
  background: #18cfab;
  opacity: 0;
  transition: opacity 0.3s;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem;
  max-width: 1160px;
  box-sizing: content-box;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #4e4e4e;
  position: relative;
  text-align: center;
  padding-bottom: 1.9375rem;
  margin-bottom: 4.3125rem;
}
.title::after, .title::before {
  position: absolute;
  content: "";
  width: 4.71875rem;
  height: 0.0625rem;
  background: #18cfab;
  transform: translateX(-50%);
}
.title::after {
  left: calc(50% - 0.375rem);
  bottom: 0.25rem;
}
.title::before {
  left: calc(50% + 0.375rem);
  bottom: 0;
}

.btn-link {
  display: inline-block;
  padding: 1.375rem 0 1.5rem;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 10.3125rem;
  border-radius: 0.25rem;
  background-color: #18cfab;
  box-shadow: 0rem -0.3125rem #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn-link:hover {
  transform: translateY(-3px);
  box-shadow: 0rem -0.15625rem #fff;
}
.btn-link:active {
  transform: translateY(-5px);
  box-shadow: 0rem 0rem #fff;
}

.header {
  background: url(../img/sections_background/section-1header.jpg) no-repeat, center;
  background-size: cover;
  background-attachment: fixed;
}
.header__navbar {
  position: fixed;
  width: 100%;
  background: rgba(94, 93, 88, 0.6);
  color: #fff;
  z-index: 5;
  transition: background-color 0.3s;
}
.header__navbar.navbar--on-scroll {
  background: #22353f;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.75rem 0 2.625rem;
  transition: padding 0.3s;
}
.navbar--on-scroll .navbar__wrapper {
  padding: 1.375rem 0 1.25rem;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.logo__icon {
  display: inline-block;
  text-align: center;
  line-height: 2.0625rem;
  background-color: #18cfab;
  font-weight: 700;
  font-size: 2.5rem;
  width: 3.625rem;
  position: relative;
  margin-right: 0.125rem;
}
.logo__icon::before, .logo__icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: -1.03125rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 1.8125rem 1.0625rem 1.8125rem;
  border-color: transparent transparent #18cfab transparent;
  transform: rotate(0deg);
}
.logo__icon::after {
  transform: rotate(180deg);
  top: 100%;
}
.logo__text {
  font-weight: 400;
  font-size: 2rem;
}
.logo__text--accent {
  font-weight: 700;
  color: #18cfab;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 1.5625rem;
}
.nav__link {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  opacity: 0.6;
  transition: color 0.3s, opacity 0.3s;
}
.nav__link::before {
  position: absolute;
  content: "";
  border: 0.125rem solid #18cfab;
  width: 100%;
  bottom: -3.125rem;
  scale: 0;
  transition: scale 0.3s, bottom 0.3s;
}
.navbar--on-scroll .nav__link::before {
  bottom: -1.625rem;
}
.nav__link:hover {
  color: #18cfab;
  opacity: 1;
}
.nav__link:hover path {
  fill: #18cfab;
}
.nav__link:hover::before {
  scale: 1;
}
.nav__link--search {
  display: inline-block;
  width: 1.3125rem;
  height: 1.3125rem;
}
.nav__link--search svg {
  width: 100%;
  height: 100%;
}
.nav__link--search path {
  fill: #fff;
  transition: fill 0.3s;
}
.nav__link--search::before {
  display: none;
}

.intro {
  padding: 23.75rem 0 15.1875rem;
}
.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.intro__title {
  font-weight: 700;
  font-size: 2.1875rem;
  text-transform: uppercase;
  margin-bottom: 1.375rem;
}
.intro__subtitle {
  font-weight: 700;
  font-size: 4.875rem;
  text-transform: uppercase;
  margin-bottom: 1.375rem;
}
.intro__text {
  font-weight: 400;
  font-size: 2.125rem;
  color: #d4d4d4;
  text-transform: capitalize;
}
.intro__btn {
  margin-top: 8.5rem;
  display: flex;
  gap: 1.875rem;
}

.footer {
  background: #22353f;
}
.footer__text {
  text-align: center;
  padding: 2.875rem 0;
  color: #aeaeae;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 26px;
}
.footer__text--accent {
  color: #18cfab;
}

.options {
  margin-top: 0.5rem;
}
.options__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.options__item {
  color: #fff;
  background: #18cfab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5.4375rem 0.3125rem 6.4375rem;
  gap: 3rem;
}
.options__item path {
  fill: #fff;
}
.options__item:nth-child(2n-1) {
  color: #18cfab;
  background: #1c2a33;
}
.options__item:nth-child(2n-1) path {
  fill: #18cfab;
}
.options__item:hover .options__icon {
  scale: 1.3;
}
.options__icon {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.3s;
}
.options__text {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  text-align: center;
}

.services {
  padding: 5.5625rem 0 5.375rem;
}
.tabs__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 1.5625rem;
  text-align: center;
}
.tabs__item {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
  color: #717171;
  border: 0.0625rem solid #EDEFEF;
  background: #F8FCFE;
  padding: 0.9375rem 0.3125rem;
  color: #717171;
  transition: border 0.3s;
}
.tabs__item:hover:not(.tabs__item--active) {
  border: 0.125rem solid #18cfab;
}
.tabs__item--active {
  border: 0.125rem solid #18cfab;
  color: #fff;
  background: #18cfab;
  position: relative;
}
.tabs__item--active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.625rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0.65625rem 0.625rem 0.65625rem;
  border-color: transparent transparent #18cfab transparent;
  transform: rotate(180deg) translateX(50%);
}
.content__item {
  display: none;
}
.content__item--active {
  display: flex;
  align-items: start;
  gap: 0.9375rem;
}
.content__img {
  flex: 0 0 12rem;
}
.content__img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.content__text {
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.5rem;
  color: #777777;
}

.purchase {
  padding: 8rem 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/sections_background/section-2.jpg) center/cover no-repeat;
  background-attachment: fixed;
}
.purchase__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #18cfab;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
.purchase__text {
  margin-bottom: 4.3125rem;
  font-size: 1rem;
  line-height: 2.5rem;
  color: #D8D8D8;
}

.our-work {
  padding: 5.9375rem 0 6.25rem;
  background: #e9edef;
}
.our-work__title {
  padding-bottom: 1.6875rem;
}
.our-work__filter {
  margin-bottom: 4.5rem;
  padding: 0 0.625rem;
}
.our-work__btn {
  display: block;
  margin: 0 auto;
}

.filter__categories {
  display: flex;
  justify-content: center;
  margin-bottom: 4.375rem;
}
.filter__name {
  font-size: 0.875rem;
  line-height: 1.9375rem;
  color: #717171;
  padding: 0.875rem 0.9375rem 0.8125rem;
  border: 0.0625rem solid #dadada;
  text-transform: capitalize;
  min-width: 4.8125rem;
  min-height: 3.6875rem;
  transition: border 0.3s;
  text-align: center;
}
.filter__name--active {
  border: 0.125rem solid #18cfab;
  color: #18cfab;
}
.filter__name:hover:not(.filter__btn--active) {
  border: 0.0625rem solid #18cfab;
}
.filter__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 12.875rem;
}
.filter__item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.625rem 0;
}
.filter__item::before {
  position: absolute;
  content: "";
  background: #18cfab;
  top: 0;
  width: 100%;
  height: 0.125rem;
}

.btn-loade {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background: #18cfab;
  padding: 1.25rem 1.125rem 1rem 3.375rem;
  border-radius: 0.25rem;
  position: relative;
  transition: box-shadow 0.3s;
}
.btn-loade::before, .btn-loade::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 1.75rem;
  transform: translateY(-50%);
  width: 0.25rem;
  height: 1rem;
  background: #fff;
  border-radius: 0.0625rem;
}
.btn-loade::after {
  transform: translateY(-50%) rotate(90deg);
}
.btn-loade .loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.25rem;
  z-index: 10;
  background: #1c2a33;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  animation: opacity 0.5s linear forwards;
}
.btn-loade .loading__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}
.btn-loade .loading__dot:first-child {
  position: absolute;
  left: 20%;
  animation: grow 500ms linear 0ms infinite;
}
.btn-loade .loading__dot:last-child {
  position: absolute;
  right: 15%;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}

.item-filtred__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s;
}
.item-filtred:hover .item-filtred__img {
  transform: scale(0);
}
.item-filtred__links {
  display: flex;
  gap: 0.1875rem;
  margin-bottom: 2.0625rem;
}
.item-filtred__link {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.0625rem solid #18cfab;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.item-filtred__link path {
  fill: #18cfab;
  transition: fill 0.3s;
}
.item-filtred__link:not(:has(> svg))::after {
  content: "";
  width: 0.75rem;
  height: 0.6875rem;
  background: #18cfab;
  transition: background-color 0.3s;
}
.item-filtred__link:not(:has(> svg)):hover:after {
  background: #fff;
}
.item-filtred__link:hover {
  background: #18cfab;
}
.item-filtred__link:hover path {
  fill: #fff;
}
.item-filtred__title {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5625rem;
  color: #18cfab;
  text-transform: uppercase;
}
.item-filtred__category {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #8A8A8A;
}

.breaking-news {
  padding: 5.125rem 0 8rem;
}
.breaking-news__list {
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(16.4375rem, 1fr));
  gap: 2.6875rem 2.1875rem;
  justify-items: center;
}

.post {
  position: relative;
}
.post > * {
  margin-bottom: 0.625rem;
}
.post__img {
  height: 13rem;
  overflow: hidden;
}
.post img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: scale 0.7s;
}
.post__date {
  position: absolute;
  right: 0;
  top: 0;
  width: 4.125rem;
  height: 4rem;
  line-height: 1.5625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #203e38;
  transition: background-color 0.3s;
}
.post__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  padding-left: 0.9375rem;
  color: #717171;
  transition: color 0.3s;
}
.post__info {
  font-weight: 300;
  font-size: 0;
  line-height: 0.875rem;
  color: #777777;
  padding-left: 1.125rem;
}
.post__info > *:not(:first-child) {
  padding-left: 1rem;
}
.post__info > *:not(:last-child):after {
  content: "|";
  padding-left: 0.9375rem;
}
.post__author, .post__comments {
  font-size: 0.875rem;
}
.post:hover .post__date {
  background: #18cfab;
}
.post:hover img {
  scale: 1.1;
}
.post:hover .post__title {
  color: #18cfab;
}

.feedback {
  padding: 6.125rem 0 6.25rem;
  background: url(../img/sections_background/section-3.jpg) center/cover no-repeat;
}
.feedback__title {
  color: #fff;
}

.swiper {
  position: relative;
  overflow: hidden;
}
.swiper__list {
  margin-bottom: 3.375rem;
  width: 100%;
  display: flex;
  transform: translateX(-100%);
}
.swiper__item {
  min-width: 100%;
}

.feedback-card {
  padding-top: 3.6875rem;
  position: relative;
  text-align: center;
}
.feedback-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2.75rem;
  height: 1.875rem;
  background: url(../../img/testimonial-icon.svg) center/contain no-repeat;
}
.feedback-card__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #bbbbbb;
  text-align: center;
  margin-bottom: 1.375rem;
}
.feedback-card__title {
  display: flex;
  flex-direction: column;
}
.feedback-card__name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6875rem;
  margin-bottom: 0.0625rem;
  color: #18cfab;
  text-transform: uppercase;
}
.feedback-card__position {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1.6875rem;
  color: #bbbbbb;
  margin-bottom: 2.125rem;
}
.feedback-card__img {
  border-radius: 50%;
  padding: 0.625rem;
  width: 10.1875rem;
  height: 10.1875rem;
  margin: 0 auto;
  position: relative;
}
.feedback-card__img img {
  z-index: 2;
  border-radius: 50%;
  outline: 10px solid rgba(31, 218, 181, 0.2);
  width: 8.875rem;
  height: 8.875rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.slider {
  margin: 37px auto 0 auto;
  min-height: 4.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__btn {
  width: 1.9375rem;
  height: 1.9375rem;
  border: 1px solid #bbbbbb;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s, background-color 0.3s;
  position: absolute;
  bottom: 1.0625rem;
}
.slider__btn--prev {
  transform: translateX(-100%);
  left: calc(50% - 211px);
}
.slider__btn--next {
  left: calc(50% + 211px);
  transform: rotate(180deg);
}
.slider__btn svg {
  transition: scale 0.1s;
}
.slider__btn svg path {
  fill: #bbbbbb;
  transition: fill 0.3s;
}
.slider__btn:hover {
  border: 1px solid #18cfab;
  background: #18cfab;
}
.slider__btn:hover path {
  fill: #fff;
}
.slider__btn:active:not([disabled]) svg {
  scale: 1.5;
}
.slider__pagination {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}
.slider__photo {
  position: relative;
  width: 4.1875rem;
  height: 4.1875rem;
  border-radius: 50%;
  outline: 5px solid rgba(31, 218, 181, 0.2);
  mix-blend-mode: normal;
  transition-duration: 0.3s;
}
.slider__photo img {
  position: absolute;
  z-index: 2;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__photo--active {
  animation: activeDot 0.3s linear 1 forwards;
}
.slider__photo:not(.slider__photo.slider__photo--active) {
  animation: regularDot 0.3s linear 1 forwards;
}
@keyframes activeDot {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.625rem);
  }
}
@keyframes regularDot {
  0% {
    transform: translateY(-0.625rem);
  }
  100% {
    transform: translateY(0);
  }
}

.slider-photo.active-slider {
  transform: translateY(-15px);
}

.gallery {
  padding: 6.8125rem 0 4.375rem;
}
.gallery__title {
  margin-bottom: 5.125rem;
}
.gallery__grid {
  margin-bottom: 2.125rem;
}
.gallery__btn {
  margin: 0 auto;
  display: block;
}

.masonry-grid {
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
}
.masonry-grid .gutter {
  width: 1.7%;
}
.masonry-grid__item {
  height: 5.75rem;
  margin-bottom: 1.25rem;
}
.masonry-grid__item--md {
  width: 32.2%;
  height: 16.4375rem;
}
.masonry-grid__item--s {
  margin-bottom: 0rem;
  grid-column: span 3;
  height: 100%;
}
.masonry-grid__item--xs {
  margin-bottom: 0rem;
  grid-column: span 2;
}
.masonry-grid__item--l {
  width: 32.2%;
  height: 23.75rem;
}
.masonry-grid__item--grid {
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template: 10.5rem/repeat(6, 1fr);
  grid-auto-rows: 5.75rem;
  gap: 0.1875rem;
}

.image-block {
  position: relative;
  overflow: hidden;
}
.image-block:not(.image-block.masonry-grid__item--grid):hover .image-block__buttons {
  opacity: 1;
}
.image-block__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-block__buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.64);
  transition: opacity 0.3s;
}
.image-block__btn {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 1.6875rem;
  height: 1.5625rem;
  transition: background-color 0.3s, scale 0.3s;
}
.image-block__btn:hover {
  background-color: #18cfab;
}
.image-block__btn:active {
  scale: 0.95;
}
.image-block__btn--open {
  transform: translate(-100%, -50%);
  left: calc(50% - 10px);
  background: #14b9d5 url("../img/icons/lens.svg") center no-repeat;
}
.image-block__btn--info {
  left: calc(50% + 10px);
  background: #14b9d5 url("../img/icons/full-screen.svg") center no-repeat;
}