.footer {
	background: $background-dark;
	&__text {
		text-align: center;
		padding: rem(46) 0;
		color: #aeaeae;
		font-weight: 300;
		font-size: rem(14);
		line-height: 26px;
	}
	&__text--accent {
		color: $color-accent;
	}
}
