.header {
	background: url(../img/sections_background/section-1header.jpg) no-repeat, center;
	background-size: cover;
	background-attachment: fixed;
	&__navbar {
	position: fixed;
	width: 100%;
	background: rgba(94, 93, 88, 0.6);
	color: $color-text-light-main;
	z-index: 5;
	transition: background-color .3s;
	&.navbar--on-scroll {
		background: $background-dark;
	}
  }

	&__intro {}
}
// sections navbar
.navbar {
	&__wrapper {
		display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(44) 0 rem(42);
      transition: padding .3s;
   }
	.navbar--on-scroll &__wrapper {
		padding: rem(22) 0 rem(20);
  }


	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;
}
}
.logo {
		&__icon {
			display: inline-block;
			text-align: center;
			line-height: rem(33);
			background-color: $color-accent;
			font-weight: 700;
			font-size: rem(40);
			width: rem(58);
			position: relative;
			margin-right: rem(2);
			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: rem(-16.5);
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 rem(29) rem(17) rem(29);
				border-color: transparent transparent $color-accent transparent;
				transform: rotate(0deg);
			}
			&::after {
				transform: rotate(180deg);
				top: 100%;
			}
		}
		&__text {
			font-weight: 400;
			font-size: rem(32);
	}
		&__text--accent {
			font-weight: 700;
			color: $color-accent;
		}

}

.nav {
   &__list {
		display: flex;
		align-items: center;
	}
	&__item {
		&:not(:last-child) {
			margin-right: rem(25);
		}
	}

	&__link {
		font-weight: 700;
		font-size: rem(16);
		text-transform: uppercase;
		position: relative;
		opacity: .6;
		transition: color .3s, opacity .3s;
		&::before {
			position: absolute;
			content: '';
			border: rem(2) solid $color-accent;
			width: 100%;
			bottom: rem(-50);
			scale: 0;
			transition: scale .3s, bottom .3s;
			.navbar--on-scroll & {
				bottom: rem(-26);
			}
		}
		&:hover {
			color: $color-accent;
			opacity: 1;
			& path {
				fill: $color-accent;
			}
			&::before {
				scale: 1;
			}
		}
		&--search {
			display: inline-block;
			width: rem(21);
			height: rem(21);
			svg {
				width: 100%;
				height: 100%;
			}
			& path {
				fill: $color-text-light-main;
				transition: fill .3s;
			}
			&::before {
				display: none;
			}
}
}
}

//sections intro

.intro {
	padding: rem(380) 0 rem(243);
	&__wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #ffffff;
	}
	&__title {
		font-weight: 700;
    	font-size: 2.1875rem;
    	text-transform: uppercase;
		 margin-bottom: rem(22);
	}
	&__subtitle {
		font-weight: 700;
   	font-size: 4.875rem;
   	text-transform: uppercase;
		margin-bottom: rem(22);
	}
	&__text {
		font-weight: 400;
    	font-size: 2.125rem;
    	color: #d4d4d4;
		text-transform: capitalize;
	}
	&__btn {
		margin-top: rem(136);
		display: flex;
		gap: rem(30);
	}
}