$color-accent: #18cfab;
$color-text-light-main: #fff;
$color-text-dark: #4e4e4e;
$color-text-grey: #777777;
$color-text-light-grey: #717171;
$color-text-testimonial: #bbbbbb;
$background-darkest: #1c2a33;
$background-dark: #22353f;
$background-light: #e9edef;
$background-dark-green: #203e38;
$background-light-blue: #00cbf6;
$gallery-btn: #14b9d5;
