.gallery {
	padding: rem(109) 0 rem(70);
	&__title {
		margin-bottom: rem(82);
	}
	&__grid {
		margin-bottom: rem(34);
	}
	&__btn {
		margin: 0 auto;
		display: block;
	}
}

.masonry-grid {
	height: max-content;
	margin: 0 auto;

	& .gutter {
		width: 1.7%;
	}

	// .masonry-grid__item
	&__item {
		height: rem(92);
		margin-bottom: rem(20);
	}

	// .masonry-grid__item--md
	&__item--md {
		width: 32.2%;
		height: rem(263);
	}

	// .masonry-grid__item--s
	&__item--s {
		margin-bottom: rem(0);
		grid-column: span 3;
		height: 100%;
	}

	&__item--xs {
		margin-bottom: rem(0);
		grid-column: span 2;
	}

	// .masonry-grid__item--l
	&__item--l {
		width: 32.2%;
		height: rem(380);
	}

	// .masonry-grid__item--grid
	&__item--grid {
		height: max-content;
		display: grid;
		grid-template: rem(168) / repeat(6, 1fr);
		grid-auto-rows: rem(92);
		gap: rem(3);
	}
}

.image-block {
	position: relative;
	overflow: hidden;

	&:not(&.masonry-grid__item--grid):hover {
		.image-block__buttons {
			opacity: 1;
		}
	}

	// .image-block__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// .image-block__buttons
	&__buttons {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		background: rgba(0, 0, 0, 0.64);
		transition: opacity 0.3s;
	}

	// .image-block__btn
	&__btn {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		width: rem(27);
		height: rem(25);
		transition: background-color 0.3s, scale 0.3s;

		&:hover {
			background-color: $color-accent;
		}

		&:active {
			scale: 0.95;
		}
	}

	// .image-block__btn--open
	&__btn--open {
		transform: translate(-100%, -50%);
		left: calc(50% - 10px);
		background: $gallery-btn url("../img/icons/lens.svg") center no-repeat;
	}

	// .image-block__btn--info
	&__btn--info {
		left: calc(50% + 10px);
		background: $gallery-btn url("../img/icons/full-screen.svg") center no-repeat;
	}
}
