.purchase {
	padding: rem(128) 0;
   text-align: center;
   background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/sections_background/section-2.jpg) center / cover no-repeat;
   background-attachment: fixed;

	&__title {
		font-weight: 700;
		font-size: rem(40);
		line-height: rem(40);
		color: $color-accent;
		text-transform: uppercase;
		margin-bottom: rem(12);
	}
	&__text {
		margin-bottom: rem(69);
		font-size: rem(16);
		line-height: rem(40);
		color: #D8D8D8;
	}
}