.breaking-news {
	padding: rem(82) 0 rem(128);
	&__list {
		display: grid;
		grid-template: auto / repeat(auto-fill, minmax(rem(263), 1fr));
		gap: rem(43) rem(35);
		justify-items: center;
	}
}

.post {
	position: relative;
   &>* {
      margin-bottom: rem(10);
   }
   &__img {
      height: rem(208);
      overflow: hidden;
   }
   & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: scale .7s;
   }
   &__date {
      position: absolute;
      right: 0;
      top: 0;
      width: rem(66);
      height: rem(64);
      line-height: rem(25);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $background-dark-green;
      transition: background-color .3s;
	}
	&__title {
      font-weight: 700;
      font-size: rem(18);
      line-height: rem(26);
      padding-left: rem(15);
      color: $color-text-light-grey;
      transition: color .3s;
   }
   &__info {
      font-weight: 300;
      font-size: 0;
      line-height: rem(14);
      color: $color-text-grey;
      padding-left: rem(18);
      &>*:not(:first-child) {
         padding-left: rem(16);
      }
      &>*:not(:last-child):after {
         content: '|';
         padding-left: rem(15);
      }
   }
   &__author,
   &__comments {
      font-size: rem(14);
   }
   &:hover {
      & .post__date {
         background: $color-accent;
      }
      & img {
         scale: 1.1;
      }
      .post__title {
         color: $color-accent;
      }
   }
}



