.feedback {
	padding: rem(98) 0 rem(100);
   background: url(../../img/sections_background/section-3.jpg) center / cover no-repeat;
	&__title {
		color: $color-text-light-main;
	}
}

.swiper {
	position: relative;
   overflow: hidden;

	&__list {
		margin-bottom: rem(54);
      width: 100%;
      display: flex;
      transform: translateX(-100%);

	}
	&__item {
		min-width: 100%;
	}
}

.feedback-card {
	padding-top: rem(59);
	position: relative;
	text-align: center;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: rem(44);
		height: rem(30);
		background: url(../../img/testimonial-icon.svg) center / contain no-repeat;

	}
	&__text {
		font-weight: 300;
      font-size: rem(16);
      line-height: rem(30);
      color: $color-text-testimonial;
      text-align: center;
      margin-bottom: rem(22);
	}
	&__title {
		display: flex;
		flex-direction: column;
	}
	&__name {
		font-weight: 700;
      font-size: rem(16);
      line-height: rem(27);
      margin-bottom: rem(1);
      color: $color-accent;
      text-transform: uppercase;
	}
	&__position {
		font-weight: 300;
      font-size: rem(13);
      line-height: rem(27);
      color: $color-text-testimonial;
      margin-bottom: rem(34);
	}
	&__img {
		border-radius: 50%;
		padding: rem(10);
		width: rem(163);
		height: rem(163);
		margin: 0 auto;
		position: relative;
		& img {
			z-index: 2;
        	border-radius: 50%;
			outline: 10px solid rgba(31, 218, 181, 0.2) ;
        	width: rem(142);
        	height: rem(142);
        	left: 50%;
        	top: 50%;
        	transform: translate(-50%, -50%);
        	position: absolute;
		}
	}
}

.slider{
	margin: 37px auto 0 auto;
   min-height: rem(77);
   display: flex;
   justify-content: center;
   align-items: center;
	&__btn {
		width: rem(31);
      height: rem(31);
      border: 1px solid $color-text-testimonial;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: border .3s, background-color .3s;
      position: absolute;
      bottom: rem(17);
      &--prev {
         transform: translateX(-100%);
         left: calc(50% - 211px);
      }
      &--next {
         left: calc(50% + 211px);
         transform: rotate(180deg);
      }
		& svg {
			transition: scale .1s;
			& path {
				fill: $color-text-testimonial;
				transition: fill .3s;
			}
		}
		&:hover {
			border: 1px solid $color-accent;
			background: $color-accent;
			& path {
				fill: $color-text-light-main;
			}
		}
		&:active:not([disabled]) {
			svg {
				scale: 1.5;
			}
		}
	}
	&__pagination {
		margin: 0 auto;
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      column-gap: rem(30);

		// display: flex;
   	// max-width: 421px;
   	// justify-content: space-evenly;
	}
	&__photo {
		position: relative;
   	width: rem(67);
      height: rem(67);
   	border-radius: 50%;
   	outline: 5px solid rgba(31, 218, 181, 0.2) ;
   	mix-blend-mode: normal;
   	transition-duration: 0.3s;
		
		& img {
			position: absolute;
			z-index: 2;
			width: 90%;
			height: 90%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			object-fit: cover;
		}
		&--active {
			animation: activeDot .3s linear 1 forwards;
	  }
	  &:not(&.slider__photo--active) {
			animation: regularDot .3s linear 1 forwards;
	  }

	}
	@keyframes activeDot {
		0% {
			 transform: translateY(0);
		}
		100% {
			 transform: translateY(rem(-10));
		}
  }
  @keyframes regularDot {
		0% {
			 transform: translateY(rem(-10));
		}
		100% {
			 transform: translateY(0);
		}
  }


}
// .slider-btn{
//    width: rem(31);
//    height: rem(31);
//    border: 1px solid $color-text-testimonial;
//    position: relative;
//    background: none;
//    transition-duration: 0.2s;
// 	&::after {
// 		content: '';
//    	position: absolute;
//    	bottom: 9px;
//    	left: 11px;
//    	width: 10px;
//    	height: 10px;
//    	border-right: 2px solid #BBBBBB;
//    	border-top: 2px solid #BBBBBB;
//    	transform: rotate(225deg);
//    	transition-duration: 0.3s;
// 	}
// 	&:hover {
// 		border: 1px solid $color-accent;
// 		background: $color-accent;
// 		&::after {
// 			border-right: 2px solid #FFFFFF;
//    		border-top: 2px solid #FFFFFF;
//    		transition-duration: 0.3s;
// 		}
// 	}
// 	.left-btn &::after {
// 			left: 11px;
//    		transform: rotate(225deg);
// 		}
// 		&:active {
// 			transform: translateX(-3px);
// 		}
// 	.right-btn{
// 		&::after {
// 			left: 7px;
//    		transform: rotate(45deg);
// 		}
// 		&:active {
// 			transform: translateX(3px);
// 		}
// 	}
	// &:active .left-btn {
	// 	transform: translateX(-3px);
	// }
	// &:active .right-btn {
	// 	transform: translateX(3px);
	// }
// }

// .slider-btn.left-btn:active{
//    transform: translateX(-3px);
// }
// .slider-btn.right-btn:active{
//    transform: translateX(3px);
// }
// .slider-btn:hover::after{
//    border-right: 2px solid #FFFFFF;
//    border-top: 2px solid #FFFFFF;
//    transition-duration: 0.3s;
// }
// .slider-btn::after{
//    content: '';
//    position: absolute;
//    bottom: 9px;
//    left: 11px;
//    width: 10px;
//    height: 10px;
//    border-right: 2px solid #BBBBBB;
//    border-top: 2px solid #BBBBBB;
//    transform: rotate(225deg);
//    transition-duration: 0.3s;
// }
// .slider-btn.left-btn::after{
//    left: 11px;
//    transform: rotate(225deg);
// }
// .slider-btn.right-btn::after{
//    left: 7px;
//    transform: rotate(45deg);
// }
// .feedback__slider {
//    margin: 37px auto 0 auto;
//    min-height: 71px;
//    display: flex;
//    justify-content: center;
//    align-items: center;
// }
// .feedback__slider-photos{
//    display: flex;
//    max-width: 421px;
//    justify-content: space-evenly;
// }
// .slider-photo{
//    position: relative;
//    height: 60px;
//    width: 60px;
//    border-radius: 50%;
//    outline: 5px solid rgba(31, 218, 181, 0.2) ;
//    mix-blend-mode: normal;
//    transition-duration: 0.3s;
// }
// .slider-photo img{
//    height: 60px;
//    width: 60px;
//    border-radius: 50%;
//    object-fit: cover;
// }
// .slider-photo:hover{
//    outline: 5px solid rgba(24, 207, 171, 1);
//    box-shadow: 0 0 15px rgba(24, 207, 171, 1);
// }
.slider-photo.active-slider{
   transform: translateY(-15px);
}
