.services {
	padding: rem(89) 0 rem(86);
	&__container {}
	&__wrapper {}
	&__title {}
	&__tabs {
	}
}

.tabs {
	&__list {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		margin-bottom: rem(25);
		text-align: center;
	}
	&__item {
		font-weight: 400;
		font-size: rem(16);
		line-height: rem(40);
		color: $color-text-light-grey;
		border: rem(1) solid #EDEFEF;
		background: #F8FCFE;
		padding: rem(15) rem(5);
		color: $color-text-light-grey;
		transition: border .3s;
		&:hover:not(.tabs__item--active) {
			border: rem(2) solid #18cfab;
		}
		&--active {
			border: rem(2) solid $color-accent;
			color: $color-text-light-main;
			background: $color-accent;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				// transform: translateX(-50%);
				left: 50%;
				bottom: rem(-10);
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 rem(10.5) rem(10) rem(10.5);
				border-color: transparent transparent $color-accent transparent;
				transform: rotate(180deg) translateX(50%);
			}
		}	
	}
	&__content{}
}

.content {
	&__item {
		display: none;
		&--active {
			display: flex;
			align-items: start;
			gap: rem(15);
		}
	}
	&__img {
		flex: 0 0 rem(192);
		& img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
	
	&__text {
		font-weight: 300;
		font-size: rem(13.6);
		line-height: rem(24);
		color: $color-text-grey;
	}
}
