.our-work {
	padding: 5.9375rem 0 6.25rem;
   background: #e9edef;
	&__title {
		padding-bottom: rem(27);
	}
	&__filter {
		margin-bottom: rem(72);
      padding: 0 rem(10);
	}
	&__btn {
		display: block;
		margin: 0 auto;
	}
}

.filter  {
	&__categories {
	display: flex;
	justify-content: center;
	margin-bottom: rem(70);
	}
	&__name {
		font-size: rem(14);
      line-height: rem(31);
      color: $color-text-light-grey;
      padding: rem(14) rem(15) rem(13);
      border: rem(1) solid #dadada;
      text-transform: capitalize;
      min-width: rem(77);
      min-height: rem(59);
      transition: border .3s;
		text-align: center;
      &--active {
         border: rem(2) solid #18cfab;
         color: $color-accent;
      }
      &:hover:not(.filter__btn--active) {
         border: rem(1) solid #18cfab;
      }
	}

	&__content {
	display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-rows: rem(206);
	}
	&__item {
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: rem(42) 0;
		&::before {
			position: absolute;
			content: '';
			background: $color-accent;
			top: 0;
			width: 100%;
			height: rem(2);
		}
	}
}

.btn-loade {
	font-weight: 700;
	font-size: rem(14);
	line-height: rem(24);
	text-transform: uppercase;
	color: $color-text-light-main;
	background: $color-accent;
	padding: rem(20) rem(18) rem(16) rem(54);
	border-radius: rem(4);
	position: relative;
	transition: box-shadow .3s;
	&::before,
	&::after {
		position: absolute;
		content: '';
		top: 50%;
		left: rem(28);
		transform: translateY(-50%);
		width: rem(4);
		height: rem(16);
		background: $color-text-light-main;
		border-radius: rem(1);
	}
	&::after {
		transform: translateY(-50%) rotate(90deg);
	}
	// &:hover {
	// 	box-shadow: 0 2px 10px $color-accent;
	// 	&::before {
	// 		animation: scaleBefore .5s linear infinite;
	// 	}
	// 	&::after {
	// 		animation: scaleAfter .5s linear infinite; 
	// }
	// }
// @keyframes scaleBefore {
// 	0% {
// 		transform: translateY(-50%);
// 	}
// 	50% {
// 		transform: translateY(-50%) scale(1.5);
// 	}
// 	100% {
// 		transform: translateY(-50%);
// 	}
// }
// @keyframes scaleAfter {
// 	0% {
// 		transform: translateY(-50%) rotate(90deg);
// 	}
// 	50% {
// 		transform: translateY(-50%) scale(1.5) rotate(90deg);
// 	}
// 	100% {
// 		transform: translateY(-50%) rotate(90deg);
// 	}
// }
.loading {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: rem(4);
	z-index: 10;
	background: $background-darkest;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
	animation: opacity .5s linear forwards;
	&__dot {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #fff;
		animation: move 500ms linear 0ms infinite;
		margin-right: 30px;
		&:first-child {
			position: absolute;
			left: 20%;
			animation: grow 500ms linear 0ms infinite;
		}
		&:last-child {
			position: absolute;
			right: 15%;
			margin-right: 0;
			animation: grow 500ms linear 0s infinite reverse;
		}
	}
}
@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes grow {
	from {
		transform: scale(0, 0);
		opacity: 0;
	}
	to {
		transform: scale(1, 1);
		opacity: 1;
	}
}
@keyframes move {
	from {
		transform: translateX(0px)
	}
	to {
		transform: translateX(45px)
	}
}
}

.item-filtred {
	&__img {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform .5s;
	}
	&:hover .item-filtred__img {
		transform: scale(0);
	}
	&__links {
		display: flex;
		gap: rem(3);
		margin-bottom: rem(33);
	}
	&__link {
		width: rem(40);
		height: rem(40);
		border-radius: 50%;
		border: rem(1) solid $color-accent;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color .3s;
		& path {
			fill: $color-accent;
			transition: fill .3s;
		}
		&:not(:has(>svg))::after {
			content: '';
			width: rem(12);
			height: rem(11);
			background: $color-accent;
			transition: background-color .3s;
		}
		&:not(:has(>svg)):hover:after {
			background: $color-text-light-main;
		}
		&:hover {
			background: $color-accent;
			path {
				fill: $color-text-light-main;
			}
		}
	}
	&__title {
		font-weight: 700;
		font-size: rem(14);
		line-height: rem(25);
		color: $color-accent;
		text-transform: uppercase;
	}
	&__category {
		font-weight: 300;
		font-size: rem(12);
		line-height: rem(20);
		color: #8A8A8A;
	}
}

