.options {
	margin-top: rem(8);
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	&__item {
		color: $color-text-light-main;
      background: $color-accent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: rem(87) rem(5) rem(103);
      gap: rem(48);
      & path {
			fill: $color-text-light-main;
      }
      &:nth-child(2n-1) {
         color: $color-accent;
         background: $background-darkest;
         & path {
            fill: $color-accent;
         }
      }
      &:hover .options__icon {
            scale: 1.3;
      }
	}
	&__icon {
		width: rem(100);
      height: rem(100);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: scale .3s;
		& svg {
			// width: rem(100);
			// height: rem(100);
		}
	}
	&__text {
		font-weight: 700;
		font-size: rem(20);
		text-transform: uppercase;
		line-height: rem(24);
		text-align: center;
}
}